main{
    background-image: linear-gradient(#260E48e6,#260E48e6),url(../recorces/img/Group\ 51\ 2.png);
    background-position: center;
    background-size: cover;
    height: auto;
}



.img-container{
    margin-left: 50px;
    padding-top: 50px;
    height: 170px;
    width: 120px;
}
@media screen and (max-width: 1200px){
    .img-container{
        padding-top: 20px;
    }
}

@media screen and (max-width: 992px){
    .img-container{
        width: 15%;
        height: auto;
    }
}

@media screen and (max-width: 576px){
    .img-container{
        padding-top: 10px;
        margin-left: 20px;
    }
}


.hero-text{
    aspect-ratio: 1;
}

.watch-anywhere-text{
    text-align: center;
}

.watch-anywhere-text p {
    font-size: 20px;
}

.watch-anywhere-text h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 26px;
}



.login-form{
    background-color: thistle;
    aspect-ratio: 1;
}

.watch-anywhere-artical{
    margin-top: 100px;
    padding-bottom: 60px;

}

@media screen and (max-width: 1400px){
    .login-form, .hero-text{
        aspect-ratio: auto;
    }
}

















/* .login-form{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.text-card-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    aspect-ratio: 1;
}

@media screen and (max-width: 1200px) {
    .text-card-login{
        aspect-ratio: unset;
        margin-top: 200px;
    }
}

.text-card-login-spacer{
    max-width: 80%;
    margin: 0 auto;
    margin-top: -160px;
}

.slider-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border: 4px #706FD3 solid;
}

.slider-button-flex-item{
    text-align: center;
    cursor: pointer;
}

.slider-button-flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    width: 50%;
    background-color: #706FD3;
    border-radius: 8px;
}

.slider-button-flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    width: 50%;
}

.slider-button{
    border-radius: 10px;
} */