@media (min-width: 768px) { 
    .login-form{
        background-color: rgba(255, 255, 255, 0.3);
        height: 700px;
        width: 100%;
        margin-top: 20px;
    }
    .custom-row{
        max-width: 1600px;
        margin: 0 auto;
    }

    .img-container{
        padding-top: 50px;
        height: 120px;
        width: 120px;
    }

    h1{
        font-size: 60px;
        text-align: left;
        margin-top: 160px;
        font-family: 'Audiowide', cursive;
        letter-spacing: 2px;
        width: 600px;
    }

    h3{
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        letter-spacing: 1px;
        margin-top: 30px;
        margin-bottom: 25px;
        font-weight: 400;
    }
    
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: 300;
    }
 }