#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag {
    color: white;
    padding: 10px 15px;
    background-color: purple;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag-selected {
    border-radius: 5px white;
}