.movie-banner {
  background-image: url("/img/bk_image.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
  background-color: grey;
  text-align: left;
  padding-top: 200px;
}
body {
  margin: auto;
  padding: 0;
  background-color: #111016;
}
.watch-now {
  height: 30px;
  align-items: center;
  width: 100px;
  background-color: blueviolet;
  color: #fff;
}
h1 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
}
p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.my-list {
  background-color: rgb(14, 14, 14);
}
.movie-items {
  height: 150px;
  background-color: rgb(151, 151, 151);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
}

.child {
  width: 90%;
  height: 150px;
  background-color: rgb(153, 153, 153);

  margin: 0, auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: rgb(88, 88, 88);
  height: 100px;
}
